@if (unit) {
  <app-page-title [title]="title|translate" [subTitle]="unit.name"></app-page-title>
}

<c-nav variant="tabs" class="mb-2">
  <c-nav-item>
    <a cNavLink class=" active" routerLink="general"
       routerLinkActive="active"><i
      class="bi bi-info-circle me-1"></i> {{ 'units.edit-unit.tabs.general-information.title'|translate }}</a>
  </c-nav-item>
  @if (!unit?.parent) {
    <c-nav-item>
      <a cNavLink class=" active" routerLink="details"
         routerLinkActive="active"><i
        class="bi bi-house me-1"></i> {{ 'units.edit-unit.tabs.detail-information.title'|translate }}</a>
    </c-nav-item>
    <c-nav-item>
      <a cNavLink class=" active" routerLink="bedding-rooms"
         routerLinkActive="active"><i
        class="bi bi-lamp me-1"></i> {{ 'units.edit-unit.tabs.rooms-bedding.title'|translate }}</a>
    </c-nav-item>
    @if (unit?.nature === 'MULTI_UNIT') {
      <c-nav-item>
        <a cNavLink routerLink="sub-units" routerLinkActive="active">
          <i class="bi bi-layers me-1"></i>
          {{ 'units.edit-unit.tabs.sub-units.title'|translate }}
        </a>
      </c-nav-item>
    }
    <c-nav-item>
      <a cNavLink routerLink="fees" routerLinkActive="active">
        <i class="bi bi-fork-knife me-1"></i>{{ 'units.edit-unit.tabs.fees.title'|translate }}
      </a>
    </c-nav-item>
  }
  <c-dropdown variant="nav-item">
    <!--TODO: handle active styling based on route-->
    <a [routerLink]="" routerLinkActive="active" cDropdownToggle cNavLink><i
      class="bi bi-cash-coin me-1"></i> {{ 'units.edit-unit.tabs.rates.title'|translate }}</a>
    <ul cDropdownMenu>
      <li><a routerLink="rates/default" routerLinkActive="active" cDropdownItem>Default</a></li>
      <li><a routerLink="rates/plans" routerLinkActive="active" cDropdownItem>Plans</a></li>
    </ul>
  </c-dropdown>

</c-nav>

<router-outlet></router-outlet>
