@use '../../../../../../../../scss/variables' as *;


/*.accordion-button {
  &:hover {
    background-color: #f0f8ff;
  }
}

.accordion-button:not(.collapsed) {
  background-color: #f0f8ff; // Green background when active
}

.Info{
  width: 88%;
}*/
