<!--Search and create button-->
<c-row class="mb-3 mt-3">
  <c-col [md]="3">
    <c-input-group sizing="sm" class="search-input">
        <span cInputGroupText>
          <svg [cIcon]="icons.cilSearch"></svg>
        </span>
      <input id="searchBar" cFormControl (input)="triggerBasicSearch($event)"
             [placeholder]="'commons.form.search-input.placeholder'|translate"/>
    </c-input-group>
  </c-col>

  <c-col class="d-flex justify-content-end">
    <button cButton size="sm" color="secondary" type="button" (click)="openRatePlanCuModal()">
      {{ 'units.edit-unit.tabs.rates.ratesPlans.list.cta.add-plan-btn' | translate }}
    </button>
  </c-col>
</c-row>

<!-- Loading Spinner -->
@if (!firstCallDone) {
  <c-row class="d-flex justify-content-center mt-5">
    <c-spinner color="secondary"/>
  </c-row>
  <c-row class="d-flex justify-content-center mt-1">
    <c-col [md]="4" class="d-flex justify-content-center text-center">
      {{ 'commons.snippets.loading' | translate }}
    </c-col>
  </c-row>
} @else {
  <!-- Data Display -->
  @if (!isListEmpty) {
    <!-- Main Rate Plan List -->
    <c-row class="rate-plan-list mb-3">
      <c-accordion>

        @for (ratePlan of listContent; track ratePlan.id; let i = $index) {
          <c-accordion-item #item="cAccordionItem" [visible]="false">
            <ng-template cTemplateId="accordionHeaderTemplate">
              <button (click)="setOpenedRatePlan(i); item.toggleItem()" [collapsed]="!item.visible" cAccordionButton>

                @if (!ratePlan.enabled) {
                  <i class="bi bi-patch-minus-fill small text-light-danger me-1"
                     [tooltip]="'units.edit-unit.tabs.rates.ratesPlans.list.status.disabled' | translate">
                  </i>
                } @else {
                  <i class="bi bi-patch-check-fill small text-light-success me-1"
                     [tooltip]="'units.edit-unit.tabs.rates.ratesPlans.list.status.enabled' | translate">
                  </i>
                }
                <span class="rate-plan-name me-2">
                  {{ ratePlan.name }}
                </span>

                @for (segment of ratePlan.segments; track segment.id) {
                  <app-badge [rounded]="true" [smaller]="true" class="me-1">
                    {{ segment.name|titlecase }}
                  </app-badge>
                }
              </button>
            </ng-template>

            <ng-template cTemplateId="accordionBodyTemplate">
              @if (openedRatePlan == i) {
                <div class="accordion-body">
                  <c-row>
                    <app-unit-rate-table-list [ratePlanId]="ratePlan.id"></app-unit-rate-table-list>
                  </c-row>
                </div>
              }
            </ng-template>
          </c-accordion-item>
        }
      </c-accordion>
    </c-row>
  } @else {
    <!-- Empty State -->
    @if (!isSearchActive) {
      <app-empty-data
        imageSrc="assets/images/animations/no-rate-plans.gif"
        [message]="'units.edit-unit.tabs.rates.ratesPlans.list.empty-data' | translate">
      </app-empty-data>
    } @else {
      <app-empty-data
        imageSrc="assets/images/animations/no-result.gif">
      </app-empty-data>
    }
  }
}
