@use '../../../../../../../../scss/variables' as *;


.accordion-button {
  padding: 10px 4px !important;

  &:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
    span{
      font-weight: 500;
      color: $secondary;
    }
  }
}

