<c-row class="mb-3">
  <c-col [md]="4">
    <c-input-group sizing="sm" class="search-input">
        <span cInputGroupText>
          <svg [cIcon]="icons.cilSearch"></svg>
        </span>
      <input id="searchBar" cFormControl (input)="triggerBasicSearch($event)"
             [placeholder]="'commons.form.search-input.placeholder'|translate"/>
    </c-input-group>
  </c-col>

  <c-col class="d-flex justify-content-end">
    <button cButton size="sm" color="secondary" type="button" (click)="openCuModal()">
      Add Segment
    </button>
  </c-col>
</c-row>

<app-table-control (nextClicked)="next()" (previousClicked)="previous()" (sizeChanged)="changeSize($event)"
                   [currentNumberElements]="currentNumberOfElements" [hasNext]="hasNext"
                   [hasPrevious]="hasPrevious"
                   [size]="size"
                   [totalElements]="totalElements"></app-table-control>

@if (!firstCallDone) {
  <c-row class="d-flex justify-content-center mt-5">
    <c-spinner color="secondary"/>
  </c-row>
  <c-row class="d-flex justify-content-center mt-1">
    <c-col [md]="4" class="d-flex justify-content-center text-center">
      {{ 'commons.snippets.loading'|translate }}
    </c-col>
  </c-row>
} @else {

  @if (!isListEmpty) {
    <div class="table-responsive">
      <table cTable [responsive]="true">
        <thead>
        <tr>
          <th>{{ 'commons.table.header.name'|translate }}</th>
          <th>{{ 'crm.segment.list-page.table.header.parent'|translate }}</th>
          <th>{{ 'commons.table.header.description'|translate }}</th>
          <th>{{ 'crm.segment.list-page.table.header.status'|translate }}</th>
          <th>{{ 'commons.table.header.actions'|translate }}</th>
        </tr>
        </thead>
        <tbody>
          @for (segment of listContent; track segment.id) {
            <tr>
              <td>
                <div class="d-flex flex-column">
                  <div>
                    <span class="me-1">{{ segment.name }}</span>
                  </div>
                  <div class="small text-body-secondary text-nowrap">
                    <span>{{ 'commons.snippets.audit.created-by'|translate }} {{ segment.audit.createdBy | auditName }}</span>
                  </div>
                </div>
              </td>
              <td>
                {{ segment.parent ? segment.parent.name : ('commons.table.body.n-a'|translate) }}
              </td>
              <td>
                {{ segment.description }}
              </td>
              <td>
                <c-form-check [switch]="true">
                  <input cFormCheckInput disabled type="checkbox" [checked]="segment.enabled" id="enabled"/>
                  <label cFormCheckLabel for="enabled">{{ 'commons.form.enabled-check.label'|translate }}</label>
                </c-form-check>
              </td>
              <td>
                <button size="sm" cButton class="btn-secondary-light" type="button" (click)="openCuModal(segment)">
                  <svg [cIcon]="icons.cilPen" size="sm"></svg>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    @if (!isSearchActive) {
      <app-empty-data imageSrc="assets/images/animations/segments.gif"
                      [message]="'crm.segment.list-page.messages.empty-data'|translate">
      </app-empty-data>
    } @else {
      <app-empty-data imageSrc="assets/images/animations/no-result.gif">
      </app-empty-data>
    }
  }

}
