<c-row class="mb-2">
  <!--Size select-->
  <c-col class="d-flex align-items-center gap-2">
    <span class="size-label me-3 text-muted small">Size</span>
    <c-dropdown class="text-muted small size" variant="nav-item">
      <button cButton cDropdownToggle color="link">
        {{ size }}
      </button>
      <ul cDropdownMenu>
        @for (el of sizeArray; track el) {
          <li>
            <button (click)="changeSize(el)" cDropdownItem>{{ el }}</button>
          </li>
        }
      </ul>
    </c-dropdown>
  </c-col>

  <c-col class="d-flex justify-content-end gap-2 align-items-center">
    @if (page !== undefined) {
      <c-row>
      <span class="text-muted small fst-italic">
        {{ currentNumberElements }}
        {{ 'commons.labels.of'|translate }}
        {{ totalElements }}
      </span>
      </c-row>
    }
  </c-col>
</c-row>
