div.container-fluid {
  background-image: url('../../../../../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .card {
    border: none;

    div.card-image {
      background-image: url('../../../../../assets/images/mazagan.jpeg');
      background-size: cover;
      background-position: center;
    }
  }
}
