<form [formGroup]="form">
  <c-row>
    <c-col [md]="8">
      <c-row class="mb-3">
        <c-col [md]="4">
          <label class="form-label" for="party">{{ 'availability.list.party' | translate }}</label>
          <app-party-select
            id="party"
            formControlName="party"
            (updatedParty)="onPartyUpdated($event)">
          </app-party-select>
        </c-col>

        <c-col [md]="3">
          <label class="form-label" for="segment">{{ 'availability.list.segment' | translate }}</label>
          <app-segment-select formControlName="segmentId" id="segment" [withParent]="false"></app-segment-select>
        </c-col>

        <c-col [md]="3">
          <label class="form-label" for="subSegment">{{ 'availability.list.subSegment' | translate }}</label>
          <app-segment-select formControlName="subSegmentId" id="subSegment" [withParent]="true"></app-segment-select>
        </c-col>

      </c-row>

      <c-row class="mb-3">

        <c-col [md]="5">
          <label class="form-label required">{{ 'availability.list.stayPeriod' | translate }}</label>
          <div *ngIf="!isNavigating">
            <input
              type="text"
              class="form-control"
              [locale]="{ applyLabel: 'ok', format: 'DD-MM-YYYY' }"
              ngxDaterangepickerBootstrap
              [(ngModel)]="dateRange"
              [ngModelOptions]="{ standalone: true }"
              [minDate]="minSearchDate"
            />
          </div>
        </c-col>

        <c-col [md]="2">
          <label class="form-label" for="adults">{{ 'availability.list.adults' | translate }}</label>
          <input id="adults" type="number" class="form-control" formControlName="adults" />
        </c-col>

        <c-col [md]="2">
          <label class="form-label" for="childrenDisplay">{{ 'availability.list.children' | translate }}</label>
          <input
            id="childrenDisplay"
            type="text"
            class="form-control"
            [value]="childrenAges.length"
            readonly
            [popover]="childrenPopoverTemplate"
            [placement]="'bottom'"
            [container]="'body'"
            [isOpen]="popoverChildrenCount > 0 || popoverChildrenCount === 0 && childrenAges.length > 0"
          />
        </c-col>


        <c-col [md]="1" class="d-flex justify-content-end mt-4">
          <button cButton type="button" (click)="onSearch()">
            <svg [cIcon]="icons.cilSearch"></svg>
          </button>
        </c-col>
      </c-row>

      <h6 class="section-title underline mb-3 mt-4">{{ 'availability.list.result' | translate }}</h6>
      @if (!firstCallDone) {
        <c-row class="d-flex justify-content-center mt-5">
          <c-spinner color="secondary" />
        </c-row>
        <c-row class="d-flex justify-content-center mt-1">
          <c-col [md]="4" class="d-flex justify-content-center text-center">
            {{ 'commons.snippets.loading' | translate }}
          </c-col>
        </c-row>
      } @else {
        @if (availableUnits.length > 0) {
          <c-row  *ngFor="let unit of availableUnits">
            <c-col [md]="12" class="mb-3 card h-auto shadow-sm border rounded p-3">
              <c-row>
                <c-col [md]="7" class="d-flex flex-column">
                  <div class="d-flex align-items-center">
                    <h6 class="me-2 section-title">{{ unit.name }}</h6>
                    <span class="mb-2 small">
                      {{ unit.inventory.availableCount }}/{{ unit.inventory.totalCount }} {{ 'availability.list.available' | translate }}
                    </span>
                  </div>

                  <!-- Static -->
                  <div class="mb-2">
                    <small class="text-muted">{{ 'availability.list.occupancy' | translate }}: 2 {{ 'availability.list.adults' | translate }}, 2 {{ 'availability.list.children' | translate }}</small>
                  </div>

                  <!-- Static -->
                  <div class="mb-2">
                    <div>
                      <small class="text-muted">1 {{ 'availability.list.bedding.SINGLE' | translate }}</small>
                    </div>
                    <div>
                      <small class="text-muted">1 {{ 'availability.list.bedding.KING' | translate }}</small>
                    </div>
                  </div>


                  <div class="mb-2">
                    <div *ngFor="let bed of unit.bedding">
                      <div><small>{{ bed.quantity }} {{ 'bedding.' + bed.type | translate }}</small></div>
                    </div>
                  </div>

                  <div class="mt-auto">
                    <strong>{{ unit.price.nightlyRate }} MAD</strong>
                    <span class="text-muted">/ {{ 'availability.list.night' | translate }}</span>
                  </div>
                </c-col>

                <c-col [md]="5">
                  <c-row class="d-flex justify-content-end">
                    <div class="border rounded py-2 px-3 d-flex align-items-center w-auto h-auto">
                      <label class="me-2 mb-0 small">{{ 'availability.list.quantity' | translate }}:</label>

                      <button class="btn btn-sm btn-outline-primary px-2" (click)="decrementQuantity(unit)">−</button>

                      <input
                        type="number"
                        [value]="selectedQuantities[unit.id] || 1"
                        readonly
                        class="form-control quantity mx-2 small p-2"
                      />

                      <button class="btn btn-sm btn-outline-primary px-2" (click)="incrementQuantity(unit)">
                        +
                      </button>

                      <span class="ms-2 text-muted small">/ {{ unit.inventory.availableCount }} {{ 'availability.list.available' | translate }}</span>
                    </div>
                  </c-row>

                  <c-row class="mt-3">
                    <c-col [md]="9" class="d-flex align-items-center justify-content-end">
                      <button  cButton color="primary" variant="outline" size="sm" (click)="openSupplementsModal(unit)">
                        {{ 'availability.list.supplements.title' | translate }}
                      </button>
                    </c-col>

                    <c-col [md]="3" class="d-flex align-items-center justify-content-end">
                      <button  cButton color="primary" size="sm" (click)="bookUnit(unit)">
                        {{ 'availability.list.book' | translate }}
                      </button>
                    </c-col>
                  </c-row>

                  <c-row class="mt-3">
                      <div class="text-end">
                        {{ selectedQuantities[unit.id] || 1 }}
                        {{ 'availability.list.roomsSelected' | translate }}
                      </div>

                      <div class="text-end">
                        {{ 'availability.list.accommodation' | translate }}:
                        {{ (unit.price.nightlyRate * (selectedQuantities[unit.id] || 1)) | number:'1.2-2' }} MAD/{{ 'availability.list.night' | translate }}
                      </div>

                      <div class="text-end">
                        + {{ 'availability.list.supplements.title' | translate }}:
                        {{ getSupplementsTotal(unit) }} MAD/{{ 'availability.list.night' | translate }}
                      </div>
                  </c-row>
                </c-col>
              </c-row>
            </c-col>
          </c-row>
        } @else {
          <app-empty-data imageSrc="assets/images/animations/no-result.gif">
          </app-empty-data>
        }
      }
    </c-col>

    <c-col [md]="4">
      <c-row [md]="7">
        <c-col>
          <h6 class="section-title underline mt-1 mb-3">{{ 'availability.list.recap.title' | translate }}</h6>
        </c-col>
        <c-col [md]="5">
          <button
            cButton color="primary" size="sm"
            class="mb-3"
            [disabled]="bookedUnits.length === 0"
            (click)="continueBooking()">
            {{ 'availability.list.continueBooking' | translate }}
          </button>
        </c-col>
      </c-row>

      <div *ngIf="bookedUnits.length > 0;">
        <div class="card mb-3" *ngFor="let booked of bookedUnits; let i = index">
          <div class="position-relative">

            <button
              type="button"
              class="btn-close btn-sm position-absolute top-0 end-0 m-2"
              aria-label="Remove"
              (click)="removeBookedUnit(i)">
            </button>

            <div class="card-body p-3">
              <h6 class="card-title">{{ booked.unit.name }}</h6>
              <p class="card-text small mb-1">
                {{ 'availability.list.stayPeriod' | translate }}:
                {{ booked.searchParams.checkinDate }} → {{ booked.searchParams.checkoutDate }}
              </p>

              <p class="card-text small mb-1">
                {{ 'availability.list.quantity' | translate }}: {{ booked.quantity }}
              </p>
              <p class="card-text small mb-1">
                {{ 'availability.list.nightlyRate' | translate }}: {{ booked.unit.price.nightlyRate }} MAD
              </p>
              <p class="card-text small mb-1">
                {{ 'availability.list.accommodation' | translate }}:
                {{ (booked.unit.price.nightlyRate * booked.quantity) | number:'1.2-2' }} MAD
              </p>
              <p class="card-text small mb-0">
                {{ 'availability.list.supplements.title' | translate }}:
                {{ getSelectedSupplementsTotal(booked) }} MAD
              </p>
            </div>
          </div>
        </div>
      </div>

<!--      <ng-template #noRecap>-->
<!--        <app-empty-data imageSrc="assets/images/animations/empty.gif">-->
<!--        </app-empty-data>-->
<!--      </ng-template>-->
    </c-col>

  </c-row>


  <ng-template #childrenPopoverTemplate>
    <div>
      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700 mb-1">{{ 'availability.list.numberOfChildren' | translate }}</label>
        <input
          id="popoverChildrenCountInput"
          type="number"
          class="form-control"
          [(ngModel)]="popoverChildrenCount"
          (ngModelChange)="onPopoverChildrenCountChange($event)"
          [ngModelOptions]="{ standalone: true }"
          [min]="0"
        />
      </div>

      <c-row>
        <c-col class="mb-3" [md]="6" *ngFor="let childAgeControl of childrenAges.controls; let i = index">
          <select cSelect
          [id]="'childAgeSelect' + i"
          [formControl]="childAgeControl"
          >
          <option [ngValue]="null" disabled>{{ 'availability.list.age' | translate }}</option>
          <option *ngFor="let age of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]" [ngValue]="age">{{ age }}</option>
        </select>
        </c-col>
      </c-row>
    </div>
  </ng-template>

  <ng-template #supplementsModal let-modal>
    <div class="modal-header">
      <h6 class="modal-title">{{ 'availability.list.supplementsAvailable' | translate }}</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.hide()"></button>
    </div>

    <div class="modal-body">
      <div *ngFor="let item of supplementsPerUnit.get(activeUnit?.id || '') || []; let i = index"
                class="border rounded p-2 mb-2 d-flex justify-content-between align-items-start">
        <div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="item.selected"
              (change)="item.selected = !item.selected"
              [id]="'supplement-' + i"
            />
            <label class="form-check-label fw-bold" [for]="'supplement-' + i">
              {{ item.label }}
            </label>
          </div>
          <div class="text-muted small ms-4">{{ item.description }}</div>
        </div>
        <input
          type="number"
          min="0"
          [(ngModel)]="item.price"
          [ngModelOptions]="{ standalone: true }"
          class="form-control form-control-sm ms-3 price"
        />
      </div>
    </div>

    <div class="modal-footer">
      <button cButton color="light" size="sm" variant="ghost" (click)="modalRef?.hide()">
        {{ 'commons.form.cancel-btn' | translate }}
      </button>
      <button cButton class="ms-3" color="primary" size="sm" type="submit" (click)="validateSupplements()">
        {{ 'commons.form.save-btn' | translate }}
      </button>
    </div>
  </ng-template>

</form>
