<!--Search and create button-->
<c-row class="mb-3 mt-1">
  <c-col [md]="3">
    <c-input-group sizing="sm" class="search-input">
        <span cInputGroupText>
          <svg [cIcon]="icons.cilSearch"></svg>
        </span>
      <input id="searchBar" cFormControl (input)="triggerBasicSearch($event)"
             [placeholder]="'commons.form.search-input.placeholder'|translate"/>
    </c-input-group>
  </c-col>

  <c-col class="d-flex justify-content-end">
    <button cButton size="sm" color="secondary" type="button" (click)="openRateTableCuModal(ratePlanId)">
      {{ 'units.edit-unit.tabs.rates.ratesPlans.list.cta.add-rate-btn' | translate }}
    </button>
  </c-col>
</c-row>


<!-- Loading Spinner -->
@if (!firstCallDone) {
  <c-row class="d-flex justify-content-center mt-5">
    <c-spinner color="secondary"/>
  </c-row>
  <c-row class="d-flex justify-content-center mt-1">
    <c-col [md]="4" class="d-flex justify-content-center text-center">
      {{ 'commons.snippets.loading' | translate }}
    </c-col>
  </c-row>
} @else {
  <!-- Rate Table List -->
  @if (!isListEmpty) {
    <c-row class="gy-3">
      <div class="table-responsive">
        <table cTable hover appSelectableTable [responsive]="true">
          <thead>
          <tr>
            <th>{{ 'units.edit-unit.tabs.rates.rateTable.list.name' | translate }}</th>
            <th>{{ 'units.edit-unit.tabs.rates.rateTable.list.category' | translate }}</th>
            <th>{{ 'units.edit-unit.tabs.rates.rateTable.list.duration' | translate }}</th>
            <th>{{ 'units.edit-unit.tabs.rates.rateTable.list.nightly' | translate }}</th>
            <th>{{ 'units.edit-unit.tabs.rates.rateTable.list.minStay' | translate }}</th>
            <th>{{ 'guests.list.table.header.actions' | translate }}</th>
          </tr>
          </thead>
          <tbody>
            @for (rate of listContent; track rate) {
              <tr>
                <td><span class="me-1">{{ rate.name }}</span></td>
                <td><span class="badge fw-normal">{{ rate.type | translate }}</span></td>
                <td>
                  <div class="badge fw-normal bg-primary">
                    <span>{{ rate.startDate }} → {{ rate.endDate }}</span>
                  </div>
                </td>
                <td><span>{{ rate.nightly }}</span></td>
                <td><span>{{ rate.minStay }}</span></td>
                <td>
                  <button cButton size="sm" class="btn-secondary-light me-2" type="button"
                          (click)="openRateTableCuModal(ratePlanId, rate)">
                    <svg [cIcon]="icons.cilPen" class="me-1"></svg>
                  </button>
                  <button cButton size="sm" type="button" class="btn-danger-light" (click)="deleteRateTable(rate)">
                    <svg [cIcon]="icons.cilTrash" class="me-1"></svg>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </c-row>
  } @else {
    <!-- Empty State -->
    @if (!isSearchActive) {
      <app-empty-data
        imageSrc="assets/images/animations/no-rates.gif"
        [message]="'units.edit-unit.tabs.rates.rateTable.list.empty-data' | translate">
      </app-empty-data>
    } @else {
      <app-empty-data
        imageSrc="assets/images/animations/no-result.gif">
      </app-empty-data>
    }
  }
}

