<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
  <c-row class="w-100 justify-content-center">
    <c-col cCol="12" md="9">
      <c-card class="overflow-hidden shadow-lg rounded-4">
        <c-row class="g-0" style="height: 60vh;">
          <!-- Left image section (65%) - hidden on mobile -->
          <div class="card-image d-none d-md-block col-md-7"></div>
          <!-- Right form section (35%) -->
          <c-col cCol="12" md="5" class="d-flex align-items-center bg-white">
            <c-card-body class="w-100 px-4">

              <div class="login-title text-center mb-5">
                <img ngSrc="assets/images/logo-nozoul.svg" class="img-fluid mb-3" alt="Nozoul PMS logo" height="49"
                     width="309"/>
                <h6 class="text-secondary">{{ 'authentication.login.sub-title'|translate }}</h6>
              </div>

              @if (!success) {

                <app-alert></app-alert>

                <form cForm (ngSubmit)="submit()" [formGroup]="forgotPasswordForm">
                  <!--Email input-->
                  <div [cFormFloating]="true" class="mb-3">
                    <input cFormControl id="floatingInput" placeholder="jhondoe@domain.com" type="email"
                           formControlName="email"/>
                    <label cLabel for="floatingInput">{{ 'authentication.login.form.email-input.label'|translate }}</label>
                    @if (((forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty))) {
                      @if (forgotPasswordForm.get('email')?.hasError('required')) {
                        <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                      }
                      @if (forgotPasswordForm.get('email')?.hasError('invalidEmail')) {
                        <c-form-feedback [valid]="false">{{ 'commons.errors.email'|translate }}</c-form-feedback>
                      }
                    }
                  </div>

                  <!--Submit button-->
                  <a class="small mt-1 text-decoration-none text-secondary d-flex justify-content-end"
                     routerLink="/login">
                    {{ 'authentication.forgot-password.login-link'|translate }}
                  </a>
                  <div class="d-grid gap-2 ms-5 me-5 mt-4">
                    <button cButton color="primary" type="submit"
                            [disabled]="!forgotPasswordForm.valid">{{ 'authentication.forgot-password.form.submit-btn'|translate }}
                    </button>
                  </div>
                </form>
              } @else {
                <div class="d-flex justify-content-center">
                  <img src="assets/images/animations/send-email.gif" class="img-fluid send-email"
                       alt="">
                </div>
                <div class="text-center success-message">
                  {{ 'authentication.forgot-password.form.success'|translate }}
                </div>
                <div class="d-grid gap-2 ms-5 me-5 mt-2 text-center">
                  <a class="text-decoration-none text-secondary small" routerLink="/login">
                    {{ 'authentication.forgot-password.login-link'|translate }}
                  </a>
                </div>
              }
            </c-card-body>
          </c-col>
        </c-row>
      </c-card>
    </c-col>
  </c-row>
</div>
