div.container-fluid {
  background-image: url('../../../../../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .card {
    border: none;

    div.card-image {
      background-image: url('../../../../../assets/images/mazagan.jpeg');
      background-size: cover;
      background-position: center;
    }
  }
}

img.send-email{
  height: 150px;
}
div.success-message{
  font-size: 0.9rem;
  font-weight: 400 !important;
}
