@use "./variables" as *;

span.badge {
  padding: 0.25rem 0.45rem;
  font-weight: 500;
  border-radius: 0.25rem;
  font-size: 0.7rem !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  display: inline-block;

  &.smaller {
    font-size: 0.62rem !important;
  }

  &.bg-primary-transparent {
    background-color: $primary-40;
    color: white !important;
    font-weight: normal !important;
  }

  &.bg-danger-transparent {
    background-color: $danger-40;
    color: $danger;
  }

  &.bg-secondary-transparent {
    background-color: $secondary-10 !important;
    color: $secondary !important;
  }

  &.bg-dark {
    background-color: $dark-10 !important;
    color: $dark !important;
  }

  &.bg-success-transparent {
    background-color: $success !important;
    color: $success-10 !important;
  }

  &.bg-info-transparent {
    background-color: $info !important;
    color: $info-10 !important;
  }

  &.bg-canceled {
    background-color: $danger !important;
    color: $danger-10 !important;
  }

  &.bg-mauve-transparent {
    background-color: #6366F1 !important;
    color: #E6E3FF !important;
  }

}
