@use './variables' as *;

label.form-label {

  &.required:after {
    content: " *";
    color: $danger;
  }
}

.form-check-input {
  &:focus {
    box-shadow: none;
  }
}

.form-control {
  border-radius: 0.25rem;

  &:focus {
    box-shadow: none;
  }

  &:focus-within {
    border-color: $secondary !important;
  }
}

.ng-select.custom {
  div.ng-select-container {
    height: 38px;
    border-color: $border-color;
    background-color: $body-bg;

    &:hover {
      box-shadow: none;
    }
  }

}


// search input
.search-input {
  border: 1px solid $light;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 0.25rem;

  &:focus-within {
    border-color: $secondary !important;
  }

  span.input-group-text {
    background-color: $body-bg;
    border: none;
  }

  input {
    border: none;
    outline: none;
  }
}

.iti {
  width: 100%;
}
