/*
@use './variables' as *;

.toast-container{
  &:hover{
    box-shadow: none;
  }
  .ngx-toastr{
    padding: 0 0;
    &:hover{
      box-shadow: none;
    }

    .toast-title{
      padding: 0.375rem 0.75rem !important;
    }

    .toast-message{
      padding: 0.75rem !important;
    }


    &.toast-error{
      background-image: none;
      background-color: $danger-10;

      .toast-title{
        background-color: $danger !important;
      }

      .toast-message{
        background-color: $danger-10 !important;
        color: $danger !important;
      }
    }

    &.toast-success{
      background-image: none;
      background-color: $success-10;

      .toast-title{
        background-color: $success !important;
      }

      .toast-message{
        background-color: $success-10 !important;
        color: $success !important;
      }
    }

    &.toast-info{
      background-image: none;
      background-color: $info-10;

      .toast-title{
        background-color: $info !important;
      }

      .toast-message{
        background-color: $info-10 !important;
        color: $info !important;
      }
    }



  }


}



!*.toast-container .ngx-toastr:hover {
  box-shadow: none;
}*!
*/
