/*Brand colors*/
$primary: #013557;
$secondary: #1976D2;
/*State colors*/
$info: #478bf3;
$success: #4CAF50;
$warning: #FDA015;
$danger: #FF3D00;
$light: #DFDFDF;
$dark: #262626;
$gray: #5F5F5F;

/*Opacity colors*/
$primary-10: #F3FBFF;
$secondary-10: #E6F0FB;
$info-10: #F1FBFE;
$success-10: #EAF6EA;
$warning-10: #FDF2E1;
$danger-10: #FFEDE8;
$dark-10: #EDEDED;



/*Body colors*/
$body-color: $gray;
$body-bg: white;

/*Table colors*/
$table-header-bg: #f5f5f5;
$table-header-color: $body-color;
$table-body-separator: $table-header-bg !default;
$table-body-color: $dark !default;
$table-body-hover-color: #f9f9f9 !default;

/*Form border colors*/
$border-color: #dbdfe6;
